{% extends "base.html" %}
{% block content %}
<div id="contentHolder">
    <div id="semSelector">
        <label>Select Semester: </label>
        <select id="semValue">
            <option value="1" {% if CurrentSem == "1" %} selected {% endif %}>Semester 1</option>
            <option value="2" {% if CurrentSem == "2" %} selected {% endif %}>Semester 2</option>
        </select>
        <img id="loadingGif" src="/img/ajax-loader.gif" style="position: absolute; padding-left: 8px;"/>
    </div>
    <div id="moduleSelector" style="display: none; top: 55px;">
        <div id = "moduleTextHolder" style="top: 10px;">
            <input id = "modulerInputBox" class="typeahead" type="text" placeholder="Module Code or Name" autocomplete="off" spellcheck="false">
        </div>
        <div id = "lessonInfoHolder">
            <table id = "lessonInfo">
                <tr id = "lessonInfoHeader">
                    <td class = "lessonInfoItem">Lecture</td>
                    <td class = "lessonInfoItem">Tutorial</td>
                    <td class = "lessonInfoItem">Laboratory</td>
                </tr>
                <tr>
                    <td>
                        <select id = "lectureSlot" class = "lessonChoice">
                            <option value = 'nc'>Not Confirmed</option>
                            <option value = '1'>1 Monday 1-2</option>
                            <option value = '2'>2 Tuesday 10-11</option>
                            <option value = '3'>3 Tuesday 2-3</option>
                            <option value = '4'>4 Thrusday 4-5</option>
                            <option value = '5'>5 Friday 1-2</option>
                        </select>
                    </td>
                    <td>
                        <select id = "tutorialSlot" class = "lessonChoice">
                            <option>Not Confirmed</option>
                            <option>A1 Monday 1-2</option>
                            <option>A2 Tuesday 10-11</option>
                            <option>A3 Tuesday 2-3</option>
                            <option>A4 Thrusday 4-5</option>
                            <option>A5 Friday 1-2</option>
                        </select>
                    </td>
                    <td>
                        <select id = "laboratorySlot" class = "lessonChoice" disabled="disabled">
                            <option>No Laboratories</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div id="buttonHolder">
            <button id = "moduleAdd" class = "contentButtons" onclick="addModule(); return false;">Add Module</button>
            <button id = "moduleSelectionConfirmer" class = "contentButtons" onclick="nextStep(); return false;">Confirm</button>
        </div>
    </div>
    <div id="prevModuleDiplay">
    <span id = "prevModuleListHeader">Preallocated Modules</span>
        <div id = "prevModuleListHolder">
            <ul id = "prevModuleList">
                <li class="prevModuleItem" onclick="alert('li');">
                    <span class = "prevModuleCode">MA1505<br />Lecture Group 1<br />Tutorial Group A1</span>
                    <span class = "prevModuleCodeClose" onclick="alert('x');event.stopPropagation();">X</span>
                </li>
                <li class="prevModuleItem">
                    <span class = "prevModuleCode">CS1505</span>
                    <span class = "prevModuleCodeClose">X</span>
                </li>
                <li class="prevModuleItem">
                    <span class = "prevModuleCode">PC1431</span>
                    <span class = "prevModuleCodeClose">X</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    var currentSem = {{ CurrentSem }};
</script>
<script src="/js/typeahead.js"></script>
<script src="/js/steptwo.js"></script>
{% endblock %}